.dashboard{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.dashboard h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin: 4rem;
    font-weight: 600;

}
.dashboard__wrapper{
    display: flex;

}
.dashboard__totalProducts, .dashboard__totalCatagories{
    height: 20rem;
    width: 30rem;
    padding: 2rem;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    background: #f5e1a1;
    border-radius: 10px;
}